/*============  STATICS  ==============*/


/*====================================*/


/*-------------  HOME  -----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Abel', sans-serif;
  font-weight: 300;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  height: 100%;
  width: 90%;
  position: absolute;
  left: 5%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#home>h1 {
  font-size: 3.5em;
}

.vertLineTop {
  border: 1px solid white;
  height: 20px;
}

.homePara {
  font-size: .9em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 40px 0;
}

.vertLineBot {
  border: 1px solid white;
  height: 50px;
  margin-bottom: 20px;
}

#home>ul {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  width: 100%;
}

.homeBtn {
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid white;
  letter-spacing: 3px;
  transition: .5s ease;
  box-shadow: none;
  margin: -1px 0;
}

.liAnchor {
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid white;
  letter-spacing: 3px;
  transition: .5s ease;
  box-shadow: none;
  margin: -1px 0;
  text-align: center;
  padding-top: 13px;
}

.liAnchor>a {
  text-decoration: none;
}

.homeBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  letter-spacing: 4px;
  transition: .5s ease;
}

.liAnchor:hover {
  background-color: rgba(255, 255, 255, 0.1);
  letter-spacing: 4px;
  transition: .5s ease;
}


/*------------- PAGES ---------------*/

#about {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}

#projects {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}

#contact {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.cardHead {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 45px;
}

.imgCont {
  height: 120px;
  overflow: hidden;
  margin-bottom: 45px;
}

.cardImg {
  position: relative;
  top: -150px;
  width: 100%;
}

.cardHead>h3 {
  letter-spacing: 3px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  display: inline;
}

.cardHead>button {
  float: right;
  border: none;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: rgba(191, 191, 191, 0.37);
}

.cardHead>button:hover {
  background-color: rgba(215, 211, 211, 0.37);
}

.cardHead>button:focus {
  outline: none;
}

.projectCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.projectCard {
  width: 40%;
  margin-bottom: 20px;
  text-align: center;
}

.projectCard p {
  font-size: 12px;
}

.projectCard img {
  width: 93%;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

form input {
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

form textarea {
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

form button {
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  font-size: 15px;
  transition: .2s ease;
}

form button:hover {
  transition: .2s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.contactImgs {
  margin-top: 10px;
}

.contactImgs>a>i {
  font-size: 20px;
}


/*========== Active Styles ==============*/

.hidePage {
  transition: .4s ease;
  opacity: 0;
  z-index: -1;
  top: 55%;
}

.showPage {
  transition: .5s ease;
  opacity: 1;
  z-index: 1;
  top: 50%;
}

.hide {
  top: 2%;
  transition: .4s ease;
  opacity: .1;
}

.show {
  top: 0;
  transition: .5s ease;
  opacity: 1;
}


/*==============  MEDIA QUERIES  ===================*/

@media (min-width: 400px) {
  #home>h1 {
    font-size: 4em;
  }
}

@media (min-width: 700px) {
  #home {
    width: 60%;
    left: 19%;
  }
  #home ul {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  #home>ul li {
    flex: 1;
  }
  #about {
    width: 70%;
  }
  #projects {
    width: 70%;
  }
  .productCard>img {
    width: 97%;
  }
  #contact {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  #home {
    width: 45%;
    left: 27.5%;
  }
  #home>h1 {
    font-size: 5.25em;
  }
  .homePara {
    font-size: 1.05em;
  }
  #about {
    width: 50%;
  }
  #projects {
    width: 50%;
  }
  .productCard>img {
    width: 97%;
  }
  #contact {
    width: 50%;
  }
}
